/* Style de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Gris foncé */
    color: #fff;
}

header {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 60px 20px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 1 4px 20px rgba(255, 102, 0, 0.3); /* Ombre orange */
}

h1 {
    font-size: 3.5rem;
    color: #ff6600; /* Orange */
    letter-spacing: 3px;
    margin-bottom: 10px;
}

#subText {
    font-size: 1.8rem;
    color: #f8a500; /* Orange clair */
    font-weight: 300;
    margin-top: 10px;
    font-style: italic;
    font-weight: 400;
}

/* Container principal */
.container {
    padding: 20px;
}

/* Menu de navigation */
.first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.menu-box {
    background: rgba(0, 0, 0, 0.8); /* Noir */
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

@media (min-width: 768px) {
    .menu-box {
        flex: 1 1 200px; 
    }
}

.box h3 {
    color: #f8a500; /* Orange clair */
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.box p {
    font-size: 1.1rem;
    color: #fff;
}

.box:hover {
    transform: scale(0.9);
    background: rgba(255, 255, 255, 0.2);
}

/* Section des projets et certifications */
.projets-content, .certifications-content {
    margin-top: 40px;
}

.projets, .certifications {
    background-color: #333; /* Gris foncé */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projets h3, .certifications h3 {
    color: #ff6600; /* Orange */
    margin-bottom: 10px;
}

.projets p, .certifications p {
    color: #ccc;
    font-size: 1.1rem;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #222; /* Gris foncé */
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

/* Bouton de contact */
.contact button {
    background-color: #ff6600; /* Orange */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.contact button:hover {
    background-color: #ff4c00; /* Orange foncé */
}

/* Orbes flottantes */
.floating-orb {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 204, 0, 0.3); /* Jaune clair */
    width: 80px;
    height: 80px;
    animation: floatOrbs 10s ease-in-out infinite;
}

.floating-orb:nth-child(1) {
    left: 30%;
}

.floating-orb:nth-child(2) {
    left: 60%;
}

.floating-orb:nth-child(3) {
    left: 80%;
}
